[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
views = "*"
drf-yasg = "*"
decouple = "*"
djangorestframework-simplejwt = "*"
django-ratelimit = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
